
<h1 class="text-3xl font-bold">About</h1>
<p class="text-sm">
  Lorem ipsum dolor sit <span highlight> amet consectetur, adipisicing elit.</span>  Tempore cumque
  harum nisi ratione at nam! Eos ipsum nemo repellendus. Soluta ducimus
  commodi totam at ipsa omnis sit facilis atque. Voluptatibus?
</p>
<p class="text-sm">Numero de clientes @if (duration() > 0) {
  <app-counter [duration]="duration()" [message]="message()"/>
} </p>
<div>
  <app-wave-audio [audioURl]="'assets/audio.mp3'"></app-wave-audio>
</div>

